.flex {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  gap: 50px;
}

.loading {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.search-bar {
  width: 500px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.loader {
  width: 60px;

  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
